<section class="page-header">
  <div class="topnav">
      <ul style="list-style-type:none; text-align: center;">
          <li><a href="/diversity-site-v2">Home</a></li>
          <li><a href="/diversity-site-v2/resources">Resources</a></li>
          <li><a href="/diversity-site-v2/people">People</a></li>
          <li><a href="/diversity-site-v2/groups">Groups</a></li>
      </ul>
  </div>
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="#" class="btn">View on GitHub</a>
</section>
