<!DOCTYPE html>
    <html lang="{{ site.locale }}">
        {% include head.html %}

        <body>
          <section class="page-header">
            <div class="topnav">
                <ul style="list-style-type:none;">
                    <li><a href="/diversity-at-mudd">Home</a></li>
                    <li><a href="/diversity-at-mudd/resources">Resources</a></li>
                    <li><a href="/diversity-at-mudd/people">People</a></li>
                    <li><a href="/diversity-at-mudd/groups">Groups</a></li>
                </ul>
            </div>

            <section class="main-content">

                {{ content }}

                {% include page-footer.html %}

            </section>

          </section>

        </body>

    </html>
