<!DOCTYPE html>
  <html lang="{{ site.locale }}">


      {% include head-home.html %}

      <body>
        <section class="page-header">
          <div class="topnav">
              <ul style="list-style-type:none;">
                  <li><a href="/diversity-at-mudd">Home</a></li>
                  <li><a href="/diversity-at-mudd/resources">Resources</a></li>
                  <li><a href="/diversity-at-mudd/groups">Affinity Groups</a></li>
              </ul>
          </div>
          <br><br>
          <h1 class="project-name">{{ site.title }}</h1>
          <h2 class="project-tagline">{{ site.tagline }}</h2>
          <!--<a href="#" class="btn">View on GitHub</a>-->

          <section class="main-content">

            {{ content }}

            {% include page-footer.html %}

          </section>
        </section>

      </body>

  </html>
